:root {
	--primary-color: #e5e1dc;
	--secondary-color: #df454e;
	--dark-secondary-color: #582a2d;
	--background-color: #202020;
	--text-color: #e5e1dc;
	--font-family: Monospace, sans-serif;

	--border-color: #575757;
	--emphasized-block-color: #222;

	--glitch-color-1: rgba(112, 112, 112, 0.1);
	--glitch-color-2: rgba(112, 112, 112, 0.2);
	--glitch-color-3: rgba(223, 69, 78, 0.2);

	--mx-methods: 270px;
	--padding-methods: 10px 20px;
	--border-thin: 1px solid var(--border-color);
}

body, h1, h2, h3, p, ul, ol {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--font-family);
	background-color: var(--background-color) !important;
	color: var(--text-color);
	background: repeating-linear-gradient(
		0deg,
		var(--glitch-color-1) 0,
		var(--glitch-color-2) 2px,
		transparent 4px
	);
	line-height: 1.5;
}

.flex_column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.flex_column > * {
	margin: 0.5rem 0;
}

.flex_column.div_main > * {
	margin: 1rem 0;
}

.flex_row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	gap: 2rem;
}

.row_center {
	align-items: center;
}

.row_start {
	align-items: flex-start;
}

.row_stretch {
	align-items: stretch;
}

.flex_row > * {
	margin: 0 0.5rem;
}

.header_home, .header_error {
	height: 100vh;
}

.header_dashboard, .header_methods, .header_autoindex{
	height: 300px;
}

h1 {
	font-size: 2.5em;
	font-weight: bold;
}

button {
	background-color: transparent;
	color: var(--text-color);
	border: solid 2px var(--primary-color);
	padding: 10px 20px;
	font-size: 1em;
	cursor: pointer;
	border-radius: 5px;
	transition: all 0.3s ease;
}

button:hover {
	background-color: var(--dark-secondary-color) !important;
	border-color: var(--secondary-color);
}

.bigBtn {
	font-size: 1.2em;
	width: 100%;
	max-width: calc(var(--mx-methods) + 4px);
	margin: 0.5rem auto;
	padding: var(--padding-methods);
}

.highlight {
	color: var(--background-color);
	background-color: var(--primary-color);
	font-style: italic;
	padding: 10px;
	border-radius: 5px;
}

.glitch_bg_red {
	background: repeating-linear-gradient(
		0deg,
		var(--glitch-color-1) 0,
		var(--glitch-color-3) 2px,
		transparent 4px
	);
}

.form_textarea {
	width: 100%;
	max-width: calc(var(--mx-methods) - 40px);
	height: 100px;
	background-color: var(--emphasized-block-color);
	color: var(--text-color);
	border: var(--border-thin);
	padding: var(--padding-methods);
	font-family: var(--font-family);
	font-size: 1em;
	border-radius: 5px;
	transition: all 0.3s ease;
	resize: none;
}

.form_textarea:focus {
	outline: none;
	border-color: var(--border-color);
	background-color: var(--background-color);
}

.form_post {
	width: 100%;
}

/* dashboard.html */

.main_dashboard {
	max-width: 1100px;
	margin: 0 auto;
}


/* methods.html */

.main_methods {
	max-width: 1100px;
	margin: 0 auto;
}

.main_methods button {
	background-color: transparent;
	color: var(--text-color);
	border: var(--border-thin);
	cursor: pointer;
	border-radius: 5px;
	transition: all 0.3s ease;
	font-size: 1.2em;
	width: 100%;
	max-width: calc(var(--mx-methods) + 4px);
	margin: 0.5rem auto;
	padding: var(--padding-methods);
}

.card_txt {
	font-size: 1em;
	font-weight: 300;
	margin-bottom: 0.5rem;
	color: var(--primary-color);
}

.div_methods {
	justify-content: flex-start;
	flex: 1;
	padding: 2rem 1rem;
	text-align: center;
	background-color: #2f2f2f;;
	border: var(--border-thin);
	border-radius: 12px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
	margin: 0;
}

.no_file_method{
	background-color: var(--emphasized-block-color);
	border: var(--border-thin);
	border-radius: 7px;
	padding: 20px 70px;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul.to_delete_ul {
	width: 100%;
	max-width: var(--mx-methods);
	max-height: 300px;
	overflow-y: scroll;
}


li {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	margin-bottom: 10px;
	border: var(--border-thin);
	border-radius: 5px;
	background-color: transparent;
	transition: background-color 0.3s ease;
}

.to_delete_ul li {
	background-color: var(--emphasized-block-color);
	border: var(--border-thin);
}

label {
	display: flex;
	align-items: center;
	justify-content: space-between;
	overflow: hidden;
}

li:hover {
	background-color: var(--dark-secondary-color);
}


.file_name {
	font-weight: bold;
	margin-right: 10px;
}

.file_content {
	font-style: italic;
	margin-right: 10px;
	white-space: nowrap;
	overflow: hidden;
}

.file_content_error {
	color: var(--secondary-color);
	font-style: normal;
}

input[type="checkbox"] {
	width: 20px;
	height: 20px;
	cursor: pointer;
}

li:has(input[type="checkbox"]:checked) {
	background-color: var(--secondary-color);
}


/* autoindex.html */

.flex_column_autoindex {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.main_autoindex {
	color: var(--secondary-color);
	padding: 40px 20px 20px 20px;
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
	/* background: var(--background-color); */
	border-radius: 8px;
	border: var(--border-thin);
}

.file_name_autoindex {
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 20px;
	border-bottom: var(--border-thin);
	padding-bottom: 10px;
	text-align: left;
	width: 100%;
}

ul.file_list {
	list-style: none;
	width: 100%;
	padding: 0;
}

ul.file_list li {
	margin: 10px 0;
	padding: 10px 0;
	border: none;
}

.file_link {
	text-decoration: none;
	color: var(--text-color);
	font-size: 1.1rem;
	transition: color 0.2s ease;
}

.file_link:hover {
	color: var(--secondary-color);
	text-decoration: underline;
}

