body, h1, h2, h3, p, ul, ol {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	background-color: #ff0000;
	color: #1d1d1d;
	line-height: 1.6;
}

h1 {
	font-size: 2.5em;
	margin-bottom: 0.5em;
	font-weight: bold;
}

.highlight {
	background-color: #f0f0f0;
	padding: 10px;
	border-radius: 5px;
}

